{% extends 'base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<div class="container">
    <form method="POST">
        <table>
            <tr>
                <td>Логин</td>
                <td><input type="text" name="login"></td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td><input type="text" name="password"></td>
            </tr>
            <tr>
                <td>Повторите пароль</td>
                <td><input type="text" name="password2"></td>
            </tr>
            <tr>
                <td><a href="/login">Авторизация</a></td>
                <td><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}